$base-background: #36491E;



// Navbar
$divider: rgb(145, 145, 65);
$navbar-color: rgb(185, 203, 196);
$navbar-color-active: white;

// Details
$detail-color: white;
$detail-first-background-color: #391B1B;
$detail-second-background-color: #141116;