$logo-text-font: "Krona One";
$logo-text-font-size: 1.5em;

$navbar-item-font: "Lalezar";
$navbar-item-font-size: 1.4em;

$detail-header-font: "Outfit";
$detail-header-font-size: 2.5em;

$detail-font: "Open Sans Hebrew", serif;
$detail-font-size: 1.4em;