// Navbar
$navbar-item-font: "Lalezar";
$navbar-item-font-size: 1.4em;

// Logo
$logo-text-font: "Krona One";
$logo-text-font-size: 1.5em;

// Detail
$detail-header-font: "Outfit";
$detail-header-font-size: 2.5em;
$detail-font: "Open Sans Hebrew", serif;
$detail-font-size: 1.4em;

// Contact
$contact-header-font: $detail-header-font;
$contact-header-font-size: $detail-header-font-size;
$contact-font: $detail-font;
$contact-font-size: $detail-font-size;