@import "colors";
@import "fonts";
@import "breakpoints";

.contact-outer {
    margin-bottom: 120px;
    padding: 20px;
}

.contact-inner {
    background-color: $contact-background-color;
    max-width: 1000px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80% 20%;
}

.contact-inner input {
    font-family: $contact-font;
    font-size: $contact-font-size;
    text-align: center;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.contact-inner input[type=text], .contact-inner input[type=email] {
    background-color: $contact-input-text-background-color;
    color: $contact-input-text-color;
    padding: 10px;
    margin: 10px 20px;
}
.contact-inner input[type=text]:focus::placeholder {
    color: transparent;
}
.contact-inner input[type=text]:focus {
    outline: solid $base-background 2px;
}
.contact-inner input[type=submit] {
    background-color: $contact-submit-background-color;
    color: $contact-submit-color;
}

.contact-inner h4 {
    text-align: center;
    margin: 20px auto auto 30px;
    font-family: $contact-header-font;
    font-size: $contact-header-font-size;
    color: $contact-color;
    text-decoration: underline;
}

.contact-inner form {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contact-inner .first-name {
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;

}
.contact-inner .last-name {
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;
}
.contact-inner .email {
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
}
.contact-inner .submit {
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end:4;
}

@media only screen and (max-width: $medium) {
    .contact-inner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .contact-inner form {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .contact-inner h4 {
        margin: auto;
    }
}

@media only screen and (max-width: $x-small) {
    .contact-inner form {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .contact-inner .first-name {
        grid-column-start:1;
        grid-column-end:1;
        grid-row-start:1;
        grid-row-end:2;

    }
    .contact-inner .last-name {
        grid-column-start:1;
        grid-column-end:1;
        grid-row-start:2;
        grid-row-end:3;
    }
    .contact-inner .email {
        grid-column-start:1;
        grid-column-end:1;
        grid-row-start:3;
        grid-row-end:4;
    }
    .contact-inner .submit {
        grid-column-start:1;
        grid-column-end:1;
        grid-row-start:4;
        grid-row-end:5;
    }
}