@import "fonts";
@import "colors";

.find-outer {
    display: flex;
    justify-content: center;
}
.find-inner {
    display: flex;
    align-items: flex-start;
    margin: 0px 20px 30px;
    padding: 50px;
    border-radius: 30px;
    background-color: $find-background-color;
}
.find-outer h4, .find-outer img {
    display: inline-block;
}
.find-outer h4 {
    font-family: $detail-header-font;
    font-size: $detail-header-font-size;
    color: $find-color;
    text-decoration: underline;
}
.find-outer img {
    margin: 0px 100px;
    border-radius: 40px;
}